.dark-mode .item, .dark-mode .form-control, .dark-mode .option{
  color: white;
}

.dark-mode .btn {
  color: white;
}

.dark-mode .dropdown-item {
  background-color: rgb(69, 77, 85);
}

/* Override rules by bs4Dash/adminLTE that hardcode the background-color, which
doesn't fit well with emphasized */
.dark-mode .form-control, .dark-mode select, .dark-mode .selectize-input.full,
.form-control, select, .selectize-input.full {
  background-color: initial;
}
