.r-function-body {
  display: grid;
}

.r-function pre, .r-function-arg pre {
  margin: 0;
  padding: 0;
}

.r-function hr {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.r-function-arg {
  padding: 5px 0;
  border-bottom: 1px solid #dfdfdf;
  align-items: center;
}

.r-function-arg:last-child {
  border-bottom: 0;
}

.r-function-body > .r-function-arg {
  margin-left: 1rem;
}

.r-function-arg .form-group, .r-function-arg .selectize-control {
  margin-bottom: 0;
}
