.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r-function-body {
  display: grid;
  margin-left: 1rem;
}

.r-function-placeholder {
  margin-left: 1rem;
}

.r-function pre, .r-function-arg pre {
  margin: 0;
  padding: 0;
  white-space: normal;
}

.r-function hr {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.r-function-arg {
  padding: 5px 0;
  border-bottom: 1px solid #dfdfdf;
  align-items: center;
}

.r-function-arg:last-child {
  border-bottom: 0;
}

.r-function-arg .form-group, .r-function-arg .selectize-control {
  margin-bottom: 0;
}

.r-function-name {
  padding: 0 0.5em;
}

:not(.dropdown-toggle) > .r-function-varname {
  padding-right: 0.5rem;
}

/* format selectInput choices as pre */
.pre .item, .pre .form-control, .pre .option {
  font-size: 87.5%;
  color: #212529;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.card-outline .card-tools .btn-tool,
.card-outline .card-tools .btn-tool:hover {
  color: black;
}

.dropdown-item:hover {
  background-color: #ebebeb;
}

.emphasized {
  background-color: rgb(255, 187, 0);
}

.emphasizeable {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.dropdown-item {
  cursor: pointer;
}

button.btn {
  transition: color 0s;
}

.ref-dropdown button {
  padding-left: 0;
}

.github-link {
  margin-right: 10px;
}

.fa-github {
  color: black;
}

.dark-mode .fa-github {
  color: white;
}

iframe {
  display: block;
  border: none;
  width: 100%;
  min-height: 100vh;
}
